@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Fjalla+One&family=Nunito:wght@400;700;800&family=Open+Sans&family=Oswald:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;700;900&family=Roboto+Condensed:wght@700&family=Roboto+Mono&family=Roboto:wght@300;400;500;700;900&family=Source+Code+Pro&display=swap');


/* 
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; 
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    */

.f-bebas {
    font-family: "bebas neue";
}

.f-bree {
    font-family: "bree serif";
}

.f-fjalla {
    font-family: "fjalla one";
}

.f-nunito {
    font-family: "nunito";
}

.f-opensans {
    font-family: "open sans";
}

.f-oswald {
    font-family: "oswald";
}

.f-playfair {
    font-family: "Playfair Display";
}

.f-roboto {
    font-family: Roboto;
}

.f-robotocon {
    font-family: "Roboto condensed";
}

.f-robotomon {
    font-family: "Roboto mono";
}

.f-scp {
    font-family: "Source Code Pro";
}
